<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Technically Speaking</title>
  </head>
  <body>
    <h1>main handlebars</h1>
    <div>
      <a href="/">Home</a>
      <a href="/profile">Profile</a>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
      <a href="/" id="logout-btn">Logout</a>
    </div>
    {{{body}}}

  </body>
  <script src="/js/logout.js"></script>
</html>