<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Technically Speaking</title>
  </head>
  <body>
    <h1>Main HandleBars</h1>
    <nav class="navbar">
      <div>
        <a href="/">Technically Speaking</a>
        <div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {{{body}}}
  </body>
</html>