<h1>Login Screen</h1>

<form action="">
  <label for="email">Email: </label>
  <input type="text" name="email" id="user_email" />
  <br />
  <label for="password">Password: </label>
  <input type="password" name="password" id="user_password" />
  <button id="submit_login">Login</button>
  <p>New User? <a href="/signup">Signup</a></p>
</form>

<script src="/js/login.js"></script>