<h1>Signup Page</h1>

<form action="">
  <label for="first_name">First Name: </label>
  <input type="text" name="first_name" id="user_first_name" />
  <br />
  <label for="last_name">Last Name: </label>
  <input type="text" name="last_name" id="user_last_name" />
  <br />
  <label for="username">Choose a Username: </label>
  <input type="text" name="username" id="username" />
  <br />
  <label for="email">Email: </label>
  <input type="text" name="email" id="user_email" />
  <br />
  <label for="password">Password: </label>
  <input type="password" name="password" id="user_password" />
  <br />
  <label for="verify_password">Verify Password: </label>
  <input type="password" name="verify_password" id="verify_password" />
  <button id="signup_submit">Sign Up</button>
</form>