<div class="container">

  <form>
    <label for="new-first-name">First Name: </label>
    <input type="text" name="new-first-name" id="new-first-name" />
    <br />
    <br />
    <label for="new-last-name">Last Name: </label>
    <input type="text" name="new-last-name" id="new-last-name" />
    <br />
    <br />
    <label for="new-username">Please select a username: </label>
    <input type="text" name="new-username" id="new-username" />
    <br />
    <br />
    <label for="new-email">Email: </label>
    <input type="text" name="new-email" id="new-email" />
    <br />
    <br />
    <label for="new-password">Password: </label>
    <input type="password" name="new-password" id="new-password" />
    <br />
    <br />
    <label for="verify-password">Re-enter Password: </label>
    <input type="password" name="verify-password" id="verify-password" />
    <br /><br />
    <button id="signup-submit">Signup</button>
  </form>

</div>
<script src="/js/signup.js"></script>